# Site settings
analytics:
  provider: google-gtag
  google:
    tracking_id: GTM-KMVB8C2
author:
  en: Digital Transformation Office
  fr: Bureau de la transformation numérique
baseurl: ""
description:
  en: Evidence and insights from the Canada.ca team.
  fr: Validations et perspectives de l'équipe Canada.ca.
language:
  en: English
  fr: Français
title:
  en: Canada.ca digital design blog
  fr: Blogue de conception numérique du Canada.ca
urlalt:
  en: https://blog.canada.ca
  fr: https://blogue.canada.ca
webmaster_verifications:
  google: Nt_CftRIypA9xVS7Znb2VkrsYbtIDuFWHryxSAC6OwM

# Files excluded from Jekyll builds
exclude:
- .editorconfig
- .jekyll-cache
- .gitignore
- .github
- "*.gpg"
- "*.tmp"
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- CNAME
- gcweb-jekyll.gemspec
- Gemfile
- Gemfile.lock
- LICENSE*
- node_modules
- screenshot.png
- SECURITY.md
- README.md
- vendor/*

# Jekyll settings
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      image: true
      layout: "post"
      pageclass: "cnt-wdth-lmtd"
  -
    scope:
      path: "en/"
    values:
      css: "https://blog.canada.ca/css/blog.css"
      lang: "en"
  -
    scope:
      path: "fr/"
    values:
      css: "https://blogue.canada.ca/css/blogue.css"
      lang: "fr"
  -
    scope:
      path: "en/"
      type: "posts"
    values:
      breadcrumbs:
      - title: "About Canada.ca"
        link:  "https://www.canada.ca/en/government/about.html"
      - title: Canada.ca blog
        link: "https://blog.canada.ca/"
        type: "Blog"
  -
    scope:
      path: "fr/"
      type: "posts"
    values:
      breadcrumbs:
      - title: "A propos de Canada.ca"
        link:  "https://www.canada.ca/fr/gouvernement/a-propos.html"
      - title: Blogue de Canada.ca
        link: "https://blogue.canada.ca/"
        type: "Blog"
plugins:
  - jekyll-remote-theme
  - jekyll-seo-tag

remote_theme: wet-boew/gcweb-jekyll