# Site settings
analytics:
  provider:
    adobe:
      tracking_id: "be5dfd287373/0127575cd23a/launch-f7c3e6060667"
      service: "ESDC-EDSC"
      gcaaterms: "ESDC-EDSC_CanadacaBlog-BlogueCanadaca"
    google:
      tracking_id: "GTM-KMVB8C2"
author:
  en: Employment and Social Development Canada
  fr: Emploi et Développement social Canada
baseurl: ""
emails:
  dto: cds.dto-btn.snc@servicecanada.gc.ca
description:
  en: Evidence and insights from the Canada.ca team.
  fr: Validations et perspectives de l'équipe Canada.ca.
language:
  en: English
  fr: Français
title:
  en: Canada.ca blog
  fr: Blogue de Canada.ca
urlalt:
  en: https://blog.canada.ca
  fr: https://blogue.canada.ca
webmaster_verifications:
  google: Nt_CftRIypA9xVS7Znb2VkrsYbtIDuFWHryxSAC6OwM

# Files excluded from Jekyll builds
exclude:
- .editorconfig
- .jekyll-cache
- .gitignore
- .github
- "*.gpg"
- "*.tmp"
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- copy-assets.sh
- CNAME
- gcweb-jekyll.gemspec
- Gemfile
- Gemfile.lock
- LICENSE*
- node_modules
- screenshot.png
- SECURITY.md
- Rakefile
- README.md
- vendor/*

include:
- _page

# Jekyll settings
defaults:
  -
    scope:
      path: ""
    values:
      script: "/js/url-swap.js"
      layout: default
      pageclass: "cnt-wdth-lmtd"
  -
    scope:
      path: ""
      type: "posts"
    values:
      css: "/css/custom.css"
      script: "/js/url-swap.js"
      image: true
      layout: "post"
  - scope:
      path: "assets/css"
    values:
      output: true
  -
    scope:
      path: "en/"
    values:
      contextualFooter:
        title: Canada.ca Experience Office (CEO)
        links:
          - url: "/contact-us.html"
            text: Contact us
      language: "en"
  -
    scope:
      path: "fr/"
    values:
      contextualFooter:
        title: Bureau de l’expérience Canada.ca (BEC)
        links:
          - url: "/contactez-nous.html"
            text: Contactez-nous
      language: "fr"
  -
    scope:
      path: "en/"
      type: "posts"
    values:
      breadcrumbs:
      - title: "About Canada.ca"
        link:  "https://www.canada.ca/en/government/about.html"
      - title: Canada.ca blog
        link: "https://blog.canada.ca/"
        type: "Blog"
  -
    scope:
      path: "fr/"
      type: "posts"
    values:
      breadcrumbs:
      - title: "A propos de Canada.ca"
        link:  "https://www.canada.ca/fr/gouvernement/a-propos.html"
      - title: Blogue de Canada.ca
        link: "https://blogue.canada.ca/"
        type: "Blog"
plugins:
  - jekyll-remote-theme

remote_theme: wet-boew/gcweb-jekyll
