{%- comment -%}
This include allows to translate the days and months in the date by using strings in _data/locales/date.yml
This include can be called with three parameters:
 - include.date: the date to be processed
 - include.format: the date format. (If empty a default format will be used)
 - include.language: languageto use for translation.
{%- endcomment -%}

{%- comment -%}
If the parameter date format is empty the default format set in _config.yml is used.
If there is no default in _config, "%b %-d, %Y" is used.
{%- endcomment -%}
{%- assign locales = site.data.locales.date -%}
{%- assign date_format_to_be_translated = include.format | default: site.date_format | default: "%b %-d, %Y" -%}

{%- comment -%}
Init to have the indice of the day in the week (num_day) and the indice of the month in the year (num_mont)
Init the language parameter depending if it's set in the include call, in the page or in the site settings
{%- endcomment -%}

{%- assign num_day = include.date | date: "%w" | plus: 0 -%}
{%- assign num_month = include.date | date: "%-m" | plus: -1 -%}
{%- assign lang = include.language | default: page.language | default: site.language -%}

{%- comment -%}
Use translated abbreviated weekday if "%a" is used in the format and the translation is available in _data/locales/date.yml
{%- endcomment -%}

{%- if locales.abbr_weekday[language][num_day] -%}
  {%- assign date_format_to_be_translated = date_format_to_be_translated | replace: "%a",  locales.abbr_weekday[lang][num_day] -%}
{%- endif -%}

{%- comment -%}
Use translated full weekday if "%A" is used in the format and the translation is available in _data/locales/date.yml
{%- endcomment -%}

{%- if locales.full_weekday[lang][num_day] -%}
  {%- assign date_format_to_be_translated = date_format_to_be_translated | replace: "%A",  locales.full_weekday[lang][num_day] -%}
{%- endif -%}

{%- comment -%}
Use translated abbreviated month if "%b" is used in the format and the translation is available in _data/locales/date.yml
{%- endcomment -%}

{%- if locales.abbr_month[lang][num_month] -%}
  {%- assign date_format_to_be_translated = date_format_to_be_translated | replace: "%b",  locales.abbr_month[lang][num_month] -%}
{%- endif -%}

{%- comment -%}
	Use translated abbreviated weekday if "%B" is used in the format and the translation is available in _data/locales/date.yml
{%- endcomment -%}
{%- if locales.full_month[lang][num_month] -%}
  {%- assign date_format_to_be_translated = date_format_to_be_translated | replace: "%B",  locales.full_month[lang][num_month] -%}
{%- endif -%}
{{ include.date | date: date_format_to_be_translated }}