---
layout: default
---

{%- assign locales = site.data.locales.post -%}
<div class="blogholder img-responsive">
	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="post-content" itemprop="articleBody">
			{{ content }}
		</div>
	</article>
	{% include signup-form.html %}
</div>
<nav class="mrgn-tp-xl">
	<h2 class="wb-inv">{{ locales.navigation[ page.lang ] }}</h2>
	<ul class="pager">
		{% for post in site.posts %}
			{%- if post.lang == page.lang -%}
				{%- if prev -%}
		<li class="next">
			<a href="{{ post.url | remove_first: '/' | remove_first: page.lang }}">{{ locales.next[ page.lang ] }}&nbsp;&raquo;</a>
		</li>
				{%- endif -%}
				{%- assign prev = false -%}
				{%- if post.id == page.id -%}
					{%- assign prev = true -%}
				{%- endif -%}
			{%- endif -%}
		{% endfor %}
		{% for post in site.posts reversed %}
			{%- if post.lang == page.lang -%}
				{%- if next -%}
		<li class="previous">
			<a href="{{ post.url | remove_first: '/' | remove_first: page.lang }}">&laquo;&nbsp;{{ locales.previous[ page.lang ] }}</a>
		</li>
					{%- break -%}
				{%- endif -%}
				{%- assign next = false -%}
				{%- if post.id == page.id -%}
					{%- assign next = true -%}
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	</ul>
</nav>
